.divDogs {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f3f1f5;
}

.dogsUl {
	text-align: center;
	display: grid;
	width: 80%;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 6em;
	list-style: none;
}

.asomaImg {
	height: 10px;
}

.dogsUl a {
	color: #000;
}

.dogsSelects {
	text-align: center;
	padding-top: 1em;
}

.dogsSelects select {
	text-align: center;
	border-radius: 12px;
	border: 2px solid #000000;
	margin-right: 1em;
}

.dogsDivBtn {
	margin-top: 1em;
	text-align: center;
}

.dogsBtn {
	text-align: center;
	border-radius: 7px;
	border: 2px solid #000000;
	background: white;
	cursor: pointer;
}

.dogsBtn:hover {
	background-color: #f3f1f1;
}

.dogsBtn:active {
	transform: translateY(1px);
}

.loadingGif {
	display: inline-block;
	margin-left: 200px;
}
